{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:react/recommended"],
  "rules": {
    "semi": ["error", "always"]
  }
}
